.PATRANSACTIONTITLE {
	font-family:Georgia,"Times New Roman",serif;
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	color:rgb(74,89,140);
	letter-spacing:1px;
	margin-bottom:10px;
	padding-bottom:3px;
	border-bottom-width:
	1px;
	border-bottom-color:rgb(74,89,140);
	border-bottom-style:solid;
	width:100%;
	display:block;
}